.mb-5,
.my-5 {
	margin-bottom: 3rem !important;
	background: rgb(1, 53, 100);
}

.navbar-brand {
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	color: white;
}
.navbar-expand-sm .navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem;
	color: #0e6fd6;
}

.navbar-brand:focus,
.navbar-brand:hover {
	color: white;
	text-decoration: none;
}
.logo {
	width: 17%;
}
.logo_div {
	max-width: 960px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0, auto;
	margin-left: 14%;
}
.remove-btn {
	margin-right: 1.5%;
}
.fade-enter {
	opacity: 0.01;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0.01;
	transition: opacity 500ms ease-in;
}
.list-group-item {
	margin: 2%;
}
.shopping-list{
	padding: 2%
}